@model IEnumerable<Stackit.Domain.DTO.PublicationDTO>

@{
    ViewData["Title"] = "Publications list";
}

<div class="">
    <h1 class="display-4">Contact list</h1>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a asp-controller="Contato" asp-action="Create" class="btn btn-primary" role="button">Add Contact</a>
    </div>

    <table id="contact-table" class="table">
        <thead>
            <tr>
                @if (Model != null && Model.Any())
                {
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Content</th>
                    <th scope="col">Publication Date</th>
                    <th scope="col"></th>
                }
                else
                {
                    <th scope="col"></th>
                }

            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var publication in Model)
                {
                    <tr>
                        <th scope="row">@publication.id</th>
                        <td>@publication.title</td>
                        <td>@publication.content</td>
                        <td>@publication.publicationDate</td>
                        <td>
                        <div class="btn-group" role="group">
                            <a asp-controller="Publication" asp-action="Edit" asp-route-id="@publication.id" role="button" class="btn btn-primary">Edit</a>
                            <a asp-controller="Publication" asp-action="Delete" asp-route-id="@publication.id" role="button" class="btn btn-danger">Delete</a>
                        </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                    <tr class="odd">
                        <td valign="top" colspan="5">No publications found</td>
                    </tr>
            }
        </tbody>
    </table>

</div>