@model IEnumerable<Stackit.Domain.DTO.UserDTO>

@{
    ViewData["Title"] = "Users";
}

<div class="">
    <h1 class="display-4">User list</h1>

    <table id="contact-table" class="table">
        <thead>
            <tr>
                @if (Model != null && Model.Any())
                {
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <th scope="col">Profile</th>
                    <th scope="col"></th>
                }
                else
                {
                   <th scope="col"></th>
                }

            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var publication in Model)
                {
                    <tr>
                        <th scope="row">@publication.id</th>
                        <td>@publication.username</td>
                        <td>@publication.email</td>
                        <td>@publication.password</td>
                        <td>@publication.profile</td>
                        <td>
                        <div class="btn-group" role="group">
                            <a asp-controller="User" asp-action="Edit" asp-route-id="@publication.id" role="button" class="btn btn-primary">Edit</a>
                            <a asp-controller="User" asp-action="Delete" asp-route-id="@publication.id" role="button" class="btn btn-danger">Delete</a>
                        </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                    <tr class="odd">
                        <td valign="top" colspan="5">No Users found</td>
                    </tr>
            }
        </tbody>
    </table>

</div>
