@model Stackit.Domain.DTO.UserDTO

@{
    ViewData["Title"] = "Profile";
}
<a asp-controller="Registration" asp-action="Exit" class="btn btn-primary btn-exit-profile">Exit</a>

<div class="container">
    <figure class="full-center flex-column">
        <a asp-controller="User" asp-action="Edit" asp-route-id="@Model.id" class="profile-link full-center flex-column text-decoration-none">
            <img class="profile-image" src="~/images/userProfile.png" alt=""/>
            <figcaption>
                <h1>@Model.username</h1>
            </figcaption>
        </a>
    </figure>
    <div class="publications-container">
        <div class="btn-container">
            <a id="btn-create-publication" class="btn btn-primary" asp-controller="Publication" asp-action="Create">
                Create publication
            </a>
        </div>
        @foreach(var item in Model.publications)
        {
            <div class="user-publications">
                <div class="card publication-card">
                    <div class="card-body">
                        <div class="card-top">
                            <div class="mini-user-profile">
                                <img class="mini-profile-image" src="~/images/userProfile.png" alt="">
                                <p>@Model.username</p>
                            </div>
                            <div class="publication-date">
                                <span>@item.publicationDate</span>
                            </div>
                        </div>
                        
                        <h5 class="card-title">@item.title</h5>
                        <p class="publication-content">@item.content</p>
                        
                        <div class="delete-publication-container">
                            <a asp-controller="Publication" asp-action="Delete" asp-route-id="@item.id" class="text-decoration-none delete-publication-link">
                                <img src="~/images/trash.png" alt="" class="trash-image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>   
        }
    </div>
</div>
